{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Article</h1>

        <table class="table mt-3">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ article.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ article.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Prix</th>
                    <td>{{ article.prix }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_article_index') }}" class="btn btn-secondary">Retour</a>
        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary">Modification</a>

        <a>{{ include('article/_delete_form.html.twig') }}</a>
    </div>
{% endblock %}
